/* compiled by scssphp v0.0.12 on Wed, 13 Jan 2021 03:57:25 +0000 (0.0034s) */

@font-face {
  font-family: "ReklameScript";
  src: url("fonts/ReklameScript");
  src: url("fonts/otf") format("opentype"); }
