#slideshow {
width:100%;
flex-basis:500px;
}

.slides {
display:none;
justify-content:center;
}

.slides img {
position:absolute;
width:100%;
height:65%;
opacity:0.6;
}

.captions {
font-family:Montserrat, sans-serif;
font-size:25px;
position:relative;
border:2px solid #FFF;
background-color:#4caf50;
color:#FFF;
text-align:center;
text-decoration:none;
display:inline-block;
padding:15px 20px;
}

.captions:hover {
background-color:#357a38;
}

.prev,.next {
cursor:pointer;
position:relative;
top:50%;
color:#FFF;
font-weight:700;
font-size:18px;
transition:.6s ease;
border-radius:0 3px 3px 0;
padding:16px;
}

.prev:hover,.next:hover {
background-color:rgba(0,0,0,0.65);
}

.slides p {
color:#FFF;
z-index:6;
}

.next {
right:0;
border-radius:3px 0 0 3px;
}

#dots {
text-align:center;
position:relative;
width:100%;
top:93%;
}

.dot {
cursor:pointer;
height:15px;
width:15px;
background-color:#bbb;
border-radius:50%;
display:inline-block;
transition:background-color .6s ease;
margin:0 2px;
}

.dot:hover {
background-color:#717171;
}
