@import "variables";

.footer {
  position: relative;
  bottom: 0;
  // width: 100vw;
  height: 154px;
  background-color: #ecf7f5;
  margin: 20px auto;

  &__social-media {
    &--text {
      font-size: 20px;
      text-align: right;
      margin: auto;
    }
    &--button {
      font-size: 20px;
      align-self: center;

      a {
        transition: color 0.15s ease-in-out;
        color: #fa7950;
        margin: auto;
        top: 4px;
        position: relative;

        &:hover {
          color: #ffd94d;
        }
      }
      .contact-us {
        background-color: #fa7950;
        height: 36px;
        width: 110px;
        border: 0;
        border-radius: 50px;
        margin: auto;
        color: #ffffff;
        font-size: small;
        padding: 0;

        background: linear-gradient(to right, #ffd94d, #ffd94d 50%, #fa7950 50%);
        background-position: 100%;
        background-size: 200% 100%;
        transition: background-position 425ms ease;

        &:hover {
          background-color: #ff9d80;
          background-position: 0 100%;
        }
      }
    }
  }

  &__top,
  &__bottom {
    width: 100%;
    color: black;
  }

  &__top {
    height: 86px;
  }

  &__bottom {
    margin: 10px;
    &--tmp {
      position: relative;
      bottom: 0;
      // width: 100vw;
      // height: 154px;
      // background-color: #ecf7f5;
      // margin: 20px auto;
    }
    &--copyright {
      font-size: 12px;
      padding-top: 6px;
    }
  }
}

.wrapper {
  font-size: 20px;
}

.item {
  position: relative;
  text-align: right;
}

.check-out {
  background-color: transparent;
  border: 0;
  padding: 15px;
  border-radius: 3px;
  transition: background 0.5s ease;
}

.check-out:hover {
  font-weight: normal;
  .arrow1 {
    animation: slide1 1s ease-in-out infinite;
  }
}

.arrow1 {
  margin-left: 9px;
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}
