/* ======WEBSITE HEADER====== */
header {
width:100%;
background-color:#89c7e7;
min-height:50px;
height:10vh;
display:flex!important;
align-items:center;
}

header img {
height:100%;
margin:auto 3%;
}
/* ======WEBSITE HEADER====== */

.header {
  height: 357px;

  &__container{
    height: 100%;
    &--line {
      height: 16px;
      width: 100%;
      background-color: #FC7650;
      margin: 10px;
    }
  }
  &__logo {
    &--img{
      height: 100%;
    }
  }
  &__login{
    height: 76px;
    &--button{
      background-color: #Fa7950;
      height: 51px;
      width: 258px;
      border: 0;
      border-radius: 50px;
      margin: auto;
      color: #ffffff;
    }
    &--icon{
      height: 76px;
      width: 76px;
      background-color: #0d72fb;
      margin: auto;
      font-size: 51px;
      border-radius: 50%;
      text-align: center;
    }
    
  }
}
