.header {
  height: 357px;

  &__container{
    height: 100%;
  }
  &__logo {
    &--img{
      height: 100%;
    }
  }
  &__login{
    height: 76px;
    &--button{
      background-color: #fc7650;
      height: 51px;
      width: 258px;
      border: 0;
      border-radius: 50px;
      margin: auto;
      color: #ffffff;
    }
    &--icon{
      height: 76px;
      width: 76px;
      background-color: #0d72fb;
      margin: auto;
      font-size: 51px;
      border-radius: 50%;
      text-align: center;
    }
  }
}