/* ======WEBSITE HEADER====== */
header {
  width: 100%;
  background-color: #89c7e7;
  min-height: 50px;
  height: 10vh;
  display: flex !important;
  align-items: center;
}

/* ======WEBSITE HEADER====== */

.header {
  height: 357px;

  &__container {
    height: 98%;
    &--line {
      // height: 16px !important ;
      height: 2% !important ;
      width: 100%;
      background-color: #fc7650;
      opacity: 1;
      margin: 0;
    }
  }
  &__logo {
    &--img {
      height: 100%;
      max-height: -webkit-fill-available;
    }
  }
  &__login {
    height: 76px;
    &--button {
      background-color: #fa7950;
      height: 51px;
      width: 275px;
      border: 0;
      border-radius: 50px;
      margin: auto;
      color: #ffffff;
    }
    &--icon {
      height: 76px;
      width: 76px;
      background-color: #0d72fb;
      margin: auto;
      font-size: 51px;
      border-radius: 50%;
      text-align: center;
    }
  }
}
