.home {
  &__img {
    width: 100%;
    object-fit: cover;
    max-height: 50vh;
  }
}

.subheading {
  position: relative;
  left: -5px;
  height: 99px;
  width: 308px;
  background-color: #008afc;
  font-size: 53px;
  line-height: 1.4em;
  letter-spacing: 0.1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  &__text {
    margin: 10px 0px 0px 15px;
    display: inline-block;
  }
  &__img {
    width: 162px;
    height: 162px;
    object-fit: cover;
    position: absolute;
  }
  &__girl {
    box-shadow: 19.33px 8.21px 14px 4px rgba(0, 0, 0, 0.38);
    border-width: 4px;
    border-color: white;
    padding: 4px;
    // width: 265px;
    // height: 148px;
    border-radius: 50%;
    overflow: hidden;
    left: 627px;
    top: 951px;
    width:482px; 
    height:243px;
    
    &--container {
      border-radius: 50%;
      overflow: hidden;
      display: block;
      box-shadow: var(--shd, 0 1px 3px rgba(0, 0, 0, 0.5));
      border-style: solid;
      border-color: rgba(var(--brd, var(--color_11)), var(--alpha-brd, 1));
      border-width: var(--brw, 2px);
      background-color: rgba(var(--brd, var(--color_11)), var(--alpha-brd, 1));
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    &--img {
      border-radius: 50%;
      overflow: hidden;
      min-height: var(--image-min-height);
      min-width: var(--image-min-width);
      width: 100%;
      height: 100%;
      display: block;
      box-shadow: 19.33px 8.21px 14px 4px rgba(0, 0, 0, 0.38);
    }
  }
}
