@import "fonts";

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 40px;
$max_font: 53px;

.home {
  &__img {
    width: 100%;
    object-fit: cover;
    max-height: 50vh;
  }
}

.subheading {
  position: relative;
  left: -5px;
  max-height: 99px;
  max-width: 308px;
  background-color: #008afc;
  font-size: 53px;
  line-height: 1.4em;
  letter-spacing: 0.1;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  &__text {
    margin: 10px 0px 0px 15px;
    display: inline-block;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    font-family: "Reklame Script", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 0.1em;
    line-height: 1.4em;
  }
  &__img {
    width: auto;
    height: 17vw;
    object-fit: scale-down;
    position: absolute;
    min-height: 12vh;
    max-height: 170px;
  }
  &__girl {
    box-shadow: 19.33px 8.21px 14px 4px rgba(0, 0, 0, 0.38);
    border-width: 4px;
    border-color: white;
    padding: 4px;
    border-radius: 50%;
    overflow: hidden;
    left: 627px;
    top: 951px;
    width: fit-content;
    margin: 6px;
    height: auto;
    max-height: 28vh;
    width: fit-content;
    min-height: 160px;
    min-width: 282px;
    max-height: 240px;
    max-width: 367px;

    &--img {
      border-radius: 50%;
      overflow: hidden;
      min-height: var(--image-min-height);
      min-width: var(--image-min-width);
      width: 100%;
      height: 100%;
      display: block;
      box-shadow: 19.33px 8.21px 14px 4px rgba(0, 0, 0, 0.38);
      padding: 4px;
    }
  }
}

.paragraph {
  font-family: "Basic", sans-serif;
  color: #556e6c;
  &__first {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.4em;
    text-align: justify;
    letter-spacing: normal;
  }
  &__second {
    font-size: 21px;
    line-height: 1.4em;
    text-align: justify;
  }
}

.container__line {
  height: 1vh !important ;
  width: 100%;
  background-color: #fc7650;
  opacity: 1;
  margin: 1vh 0;
}

.founders {
  &__heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Trend', sans-serif;
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__button {
    cursor: pointer;
    border: none;
    display: block;
    min-width: 10px;
    min-height: 10px;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: #000;
    width: 262px;
    height: 67px;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 0px;
    background: #b5f3e8;
    box-shadow: 2.83px 2.83px 0 #65b5a6;
    margin: 2vh auto;
    transform: translateY(-5vh);
    &:hover {
      box-shadow: -2.83px -2.83px 0 #65b5a6;
    }
    &--container {
      transition: inherit;
      display: flex;
      flex-basis: auto;
      justify-content: center;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      overflow: hidden;
      height: 100%;
      width: 100%;
      transition: all 0.2s ease, visibility 0s;
    }
    &--label {
      transition: inherit;
      color: #8e0a12;
      font-size: 14px;
      font-family: raleway, sans-serif;
      font-weight: 600;
      margin: 0px 2px 0px 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: 1.8em;
      max-width: 100%;
      transition: inherit;
    }
    &--icon {
      transition: inherit;
      fill: #8e0a12;
      margin: 0px 0px 0px 2px;
      width: 11px;
      min-width: 1px;
      transition: inherit;
      flex-shrink: 0;
    }
  }
}

.wish-button {
  width: 235px;
  height: 36px;

  transition: all 0.2s ease, visibility 0s;
  border-radius: 0px;
  background: #f9c65d;
  box-shadow: 2.83px 2.83px 0 #195b52;

  cursor: pointer;
  border: none;
  display: block;
  min-width: 10px;
  min-height: 10px;
  box-sizing: border-box;
  padding: 0;

  margin: auto;
  transform: translateY(3vh);

  &:hover {
    box-shadow: 0.71px 0.71px 0 #195b52;
  }

  &__container {
    transition: inherit;
    display: flex;
    flex-basis: auto;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease, visibility 0s;
  }
  &__label {
    transition: inherit;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-family: helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
    font-size: 12px;
    color: #195b52;

    -archetype: text;
    -controller-part-type: LayoutChildDisplayDropdown, LayoutFlexChildSpacing(first);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 1.8em;
    max-width: 100%;
    transition: inherit;
  }
  &__icon {
    transition: inherit;
    width: 14px;
    height: 14px;
    fill: #195b52;
    display: none;

    -archetype: icon;
    -controller-part-type: LayoutChildDisplayDropdown, LayoutFlexChildSpacing(last);
    min-width: 1px;
    height: 50px;
    transition: inherit;
    flex-shrink: 0;
  }
}
