tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0px auto;
}

.tg td {
  border-style: solid;
  border-width: 0px;
  font-family: roboto, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  border-style: solid;
  border-width: 0px;
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

.tg .tg-8zwo {
  font-style: italic;
  text-align: left;
  vertical-align: top;
}

.first {
  border-bottom: 3px solid #ffd301;
  background-image: url(../images/parallax-bg.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 122px;
  font-family: 'Limelight', cursive;
}

.content {
  position: absolute;
  right: 0;
}

.content.about_content {
  left: 0;
  width: 100vw;
}

.parallax-mirror {
  -webkit-transition: all ease;
  -moz-transition: all ease;
  -ms-transition: all ease;
  -o-transition: all ease;
  transition: all ease;
}

.parallax-mirror img,
.parallax-window img {
  margin: 0;
  padding: 0;
}

#body,
.body {
  font-family: 'Limelight', cursive;
  margin: 0;
  padding: 0;
  /* display: block; */
}

.footer {
  padding: 0;
}

.parallax-window {
  color: #ffd301;
  /* height: 70vh; */
  width: 100vw;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  background: transparent;
}

.dark {
  color: #fff684;
  background-color: rgba(255, 255, 255, 0.3);
}

.parallax-window .center {
  width: 500px;
  margin: auto;
}

.parallax-window h2 {
  font-family: 'Limelight', cursive;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 64px;
}

.parallax-window p {
  font-family: 'Limelight', cursive;
  text-align: center;
  margin: 0;
  padding: 0;
  /* min-height: 400px; */
  background: transparent;
}

.page {
  height: 100vh;
  /* background-color: red; */
}

.modal-left {
  transform: translate(0%, 0%);
}
.modal .modal-header {
  font-size: 6.5vw;
}
.modal-content h4 {
  font-size: 5vw;
}

.modal-content h5 {
  font-size: 4vw;
}
.hero {
  overflow: hidden;
  height: 500px;
  align-self: center;
  justify-self: center;
  display: flex;
}

.hero img {
  height: 500px;
  transition: transform 0.3s ease-out;
  width: 380px;
  object-fit: cover;
}

.page .details {
  display: block;
  position: relative;
  transform: scaleY(1.5);
  top: 550px;
  left: -157px;
  font-family: 'Limelight', cursive;
  color: #ffd301;
}

.head .details {
  width: 75%;
  margin: auto;
  padding: 3% 0;
  font-family: 'Limelight', cursive;
}

.details h4 {
  font-family: 'Limelight', cursive;
  margin: 2% auto;
}

.details h2 {
  font-size: 42px;
  font-family: 'Limelight', cursive;
  padding: 20px 0px;
}

.details p {
  font-size: 24px;
  font-family: 'Limelight', cursive;
}

.lead {
  position: relative;
}
.full {
  width: 100%;
}

.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}

.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.bg-gray {
  background-image: -moz-linear-gradient(
    center bottom,
    #bbbbbb 0%,
    #f0f0f0 100%
  );
  box-shadow: 0 1px 0 #b4b3b3;
}

@media screen and (max-width: 800px) {
  .page .details {
    left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .first {
    border-bottom: none;
    font-size: 15vw;
  }

  .page .details {
    left: auto;
    transform: translateY(75px);
  }

  .tg {
    width: auto !important;
  }

  .tg col {
    width: auto !important;
  }

  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto 0px;
  }
}

@media screen and (max-width: 527px) {
  .parallax-window .center {
    width: 80%;
  }
  .parallax-window h2 {
    font-size: 11vw;
  }
}
