@import "variables";

.avatar {
vertical-align:middle;
width:50px;
height:50px;
border-radius:50%;
}

.profile {
display:flex;
z-index:3;
margin:0 1vw;
padding:1%;
}

.profile a {
text-decoration:none;
}

.profile ul {
list-style:none;
padding-left:0;
background:$yellow;
visibility:hidden;
opacity:0;
min-width:5rem;
width:25vw;
position:absolute;
transition:all .5s ease;
display:none;
box-shadow:0 8px 16px 0 #000;
right:0;
margin:5px 1% 1%;
}

.profile li {
color:#000;
background:$yellow;
display:block;
float:left;
position:relative;
text-decoration:none;
transition-duration:.5s;
padding:1rem;
}

.profile li.withA:hover,.profile li.withA:focus-within {
background:$yellow-light;
cursor:pointer;
}

.profile li:focus-within a {
outline:none;
}

.dropdown:hover ul,.dropdown:focus-within ul,.profile ul:hover,.profile ul:focus {
visibility:visible;
opacity:1;
display:block;
}

.profile div ul li {
clear:both;
width:100%;
}

.profile i {
padding:3%;
}

.profile li a {
color:#000;
}
